<%= form_for(@interest) do |f| %>
  <% if @interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interest.errors.count, "error") %> prohibited this interest from being saved:</h2>

      <ul>
      <% @interest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<label for="interest">Interests (select multiple by holding holding Cmd):</label>
      <select multiple class="form-control" id="interest">
        <option>Interest 1</option>
        <option>Interest 2</option>
        <option>Interest 3</option>
        <option>Interest 4</option>
        <option>Interest 5</option>
      </select>
  <div class="field">
    <%= f.label :topics %><br>
    <%= f.text_field :topics %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.number_field :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
