<%= form_for(@interest) do |f| %>
  <% if @interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interest.errors.count, "error") %> prohibited this interest from being saved:</h2>

      <ul>
      <% @interest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<label for="interest">Interests (select multiple by holding holding Cmd):</label>
      <select class="form-control" id="interest" name="topics">
        <option>Machine Learning</option>
        <option>Artificial Intelligence</option>
        <option>Baking</option>
        <option>Fitness Workout</option>
        <option>Multivariable Calculus</option>
      </select>

    
    
<div class="dropdown">
  <label for="time">Amount of time I can dedicate per day (in min):</label> 
    <select class="custom-select" id="time" name="time">
      <% for i in (1..100) %>
        <option><%= i %></option>
      <% end %>
    </select>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
