
<center>
  <h1>Make everyday count. Make TODAY count and sign in to get started on your path to expertise.</h1>
<div style="max-width:660px">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <!-- <h3 class="panel-title">Panel primary</h3> -->
      </div>
      <div class="panel-body">
            <%= form_tag("/searches", method: "get", id:"searchform", class:"form-horizontal") do %>
            <p>
                <%= label_tag(:q, "Example search: Artificial Intelligence",:class=>"control-label") %>
                <div class="form-group">
                    <div class="col-lg-8">
                        <% if @error %>
                        <p> Hmmmm.... Make sure you key word is general and searchable on Wikipedia </p>
                        <% end %>
                        <%= text_field_tag(:q,params[:q],:class=>"form-control padme", :placeholder=>"keywords") %>
                    </div>
                    <div class="col-lg-2">
                        <%= number_field_tag(:time,10,:class=>"form-control padme",:placeholder=>"time") %>
                    </div>
                    <%= submit_tag("Search",:class=>"btn btn-primary padme") %>
                </div>
            </p>
          <% end %>
        </div>
      </div>
    </div>
</center>

<% if @shouldshow %>

<div>
  <h3> Your Query: <%= @query %> in <%= @time.to_i - @allowedTime.to_i %> minutes </h3>
  <% for l in @links %>
    <p> <%= link_to(l[0],l[1]) %> (<%= l[2] %> Minutes) </p>
  <% end %>
</div>
<% end %>
