
<center>
    <div style="max-width:660px">
        <h1>Keyword search</h1>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <!-- <h3 class="panel-title">Panel primary</h3> -->
          </div>
          <div class="panel-body">
                <%= form_tag("/searches", method: "get", id:"searchform", class:"form-horizontal") do %>
                <p>
                    <%= label_tag(:q, "Example search: Artificial Intelligence",:class=>"control-label") %>
                    <div class="form-group">
                        <div class="col-lg-8">
                            <%= text_field_tag(:q,params[:q],:class=>"form-control padme", :placeholder=>"keywords") %>
                        </div>
                        <div class="col-lg-2">
                            <%= text_field_tag(:time,params[:time],:class=>"form-control padme",:placeholder=>"time") %>
                        </div>
                        <%= submit_tag("Search",:class=>"btn btn-primary padme") %>
                    </div>
                </p>
              <% end %>

            </div>
          </div>
        </div>
      </center>
